<form class="form-horizontal" role="form" action="">
    <div class="form-group">
        <div class="mt-2 row text-left">
            <div class="col-sm-3 col-md-2">
                <label class="control-label" for="update_title"><b>Title:</b></label>
            </div>
            <div class="col-sm-9 col-md-10">
                <input type="text" class="form-control" id="update_title" name="title" value="{{ object.title }}"/>
            </div>
        </div>
        <div class="mt-2 row text-left">
            <div class="col-sm-3 col-md-2">
                <label class="control-label" for="update_content"><b>Content:</b></label>
            </div>
            <div class="col-sm-9 col-md-10">
                <textarea rows="5" class="form-control" id="update_content" name="content">{{ object.content }}</textarea>
            </div>
        </div>
        <div class="mt-2 row text-left">
            <div class="col-sm-3 col-md-2">
                <label class="control-label" for="update_scope"><b>Scope:</b></label>
            </div>
            <div class="col-sm-9 col-md-10">
                <select class="form-control" id="update_scope" name="scope"
                    hx-trigger="change"
                    hx-get="{% url 'modelnotes:get_scope_fields' object.id %}?action=update"
                    hx-target="#id_update_select_options"
                >
                    <option value="public" {% if object.scope.name == "public" %}selected {% endif %}>public</option>
                    <option value="group" {% if object.scope.name == "group" %}selected {% endif %}>group</option>
                    <option value="private" {% if object.scope.name == "private" %}selected {% endif %}>private</option>
                </select>
            </div>
        </div>

        <div class="mt-2 row text-left" id="id_update_select_options">
            {% if object.scope.name == "public" %}
            <div class="col-sm-3 col-md-2">
                <label class="control-label" for="permissions"><b>Permissions:</b></label>
            </div>
            <div class="col-sm-9 col-md-10">
                <select class="form-control" id="permissions" multiple="multiple">
                    {% for permission in permissions %}
                    <option value="{{ permission.name }}" {% if permission in object.public_permissions.all %}selected{% endif %}>{{ permission.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% elif object.scope.name == "group" %}
            <div class="col-sm-3 col-md-2">
                <label class="control-label" for="groups"><b>Groups:</b></label>
            </div>
            <div class="col-sm-9 col-md-10">
                <select class="form-control" id="groups" multiple="multiple">
                    {% for group in request.user.groups.all %}
                    <option value="{{ group.name }}" {% if group in object.groups.all %}selected{% endif %}>{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>

    </div>
</form>
