
<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
        <tr>
            <th data-field="title" data-sortable="true">Title</th>
            <th data-field="author" data-sortable="true">Author</th>
            <th data-field="scope" data-sortable="true">Scope</th>
            <th data-field="content" data-sortable="true">Content</th>
            <th data-field="updated_at" data-sortable="true">Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for row in note_list %}
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.scope }}</td>
            <td>{{ row.content|truncatechars:64 }}</td>
            <td>{{ row.updated_at }}</td>
            {# actions #}
            <td>
                {% comment %}
                <!-- copy note contents -->
                  <input type="hidden" id="id_copy_{{ row.id }}" value="{{ row.content }}">
                  <a href="#" title="view note content" class="cpy" data-clipboard-target="#id_copy_{{ row.id }}" style="text-decoration: none">
                      <span class="mx-1 hvr-grow"><i class="fas fa-copy"></i></span>
                  </a>

                <!-- view note -->
                <a href="#" title="view note details"
                   onClick="showInfo('{% url "modelnotes:get_note_details" %}', '{{ row.id }}', 'Note: <small><i>{{ row.title }}</i></small>', true);"
                   role="button" data-bs-toggle="tooltip" data-placement="left" style="text-decoration: none">
                    <span class="mx-1 hvr-grow"><i class="fa-regular fa-note-sticky"></i></span>
                </a>

                <!-- view audit log -->
                <a href="#" title="view audit log"
                   onClick="showInfo('{% url "modelnotes:get_note_auditlog" %}', '{{ row.id }}', 'Audit Log: <small><i>{{ row.title }}</i></small>', 'xl');"
                   role="button" data-bs-toggle="tooltip" data-placement="left" style="text-decoration: none">
                    <span class="mx-1 hvr-grow"><i class="fa fa-history fa-fw mx-1"></i></span>
                </a>

                {% endcomment %}

                <!-- update note -->
                <a href="#" hx-get="{% url 'modelnotes:update_note' pk=row.pk %}" hx-target="#{% if create_update_modal_id %}{{ create_update_modal_id }}{% else %}create_update_modal_id{% endif %}_wrapper">
                    <span class="mx-1 hvr-grow"><i class="fas fa-edit"></i></span>
                </a>

                <!-- delete note -->
                <a href="#" hx-get="{% url 'modelnotes:delete_note' pk=row.pk %}" hx-target="#{% if delete_modal_id %}{{ delete_modal_id }}{% else %}id_delete_modal{% endif %}_wrapper">
                    <span class="mx-1 hvr-grow"><i class="fas fa-trash"></i></span>
                </a>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'handyhelpers/component/clipboard.htm' %}
