# Include the README
include *.md

# Include setup.py
include setup.py
include setup.cfg

# Include the src files
recursive-include src/djangoaddicts/modelnotes *

# Exclude test files
exclude src/djangoaddicts/manage.py
