{% load static %}
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast fade align-items-center text-primary bg-gray border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-primary me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    ;(function () {
      const toastElement = document.getElementById("toast")
      const toastBody = document.getElementById("toast-body")
      const toast = new bootstrap.Toast(toastElement, { delay: 5500 })

      htmx.on("showMessage", (e) => {
        toastBody.innerText = e.detail.value
        toast.show()
      })

      htmx.on("showSuccess", (e) => {
        toastBody.innerText = e.detail.value
        toastElement.classList.add("bg-light");
        toastBody.classList.add("text-primary");
        toast.show()
      })

      htmx.on("showError", (e) => {
        toastBody.innerText = e.detail.value
        toastElement.classList.add("bg-light");
        toastBody.classList.add("text-danger");
        toast.show()
      })

    })()
</script>
